body {
  margin-top: 40px;
}
.messagelink-box {
  box-shadow: 0 4px 12px rgb(0 0 0 / 15%);
  border: 1px solid #e4dbc6;
  font-size: 20px;
  font-weight: bold;
  padding: 15px;
  background-color: #f3efe6;
  margin: 20px;
  text-align: center;
}

h1 {
  margin-bottom: 30px;
}

.deleted-message {
  font-size: 18px;
  font-weight: bold;
  margin-top: 20px;
  color: #a71d2a;
}