<!DOCTYPE html>
<html>
{% include 'html_head.twig' %}
<body>

<div class="container">
  <h1>{{ headline }}</h1>
  <div class="messagelink-box" style="text-align: left">{{ message }}</div>
  <div class="deleted-message">{{ deleted_message }}</div>
</div>
</body>
</html>